<h1>applicants#index</h1>
<h3>Click Applicant name to view their application</h3>
<div class="row">
  <div class="col">
    <table class='table'>
      <tr>
        <th>Applicant Name</th>
      </tr>
      <% @applicants.each do |applicant| %>
        <tr>
          <td><%= link_to "#{applicant.name}", "/applicants/#{applicant.id}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
