<div class="row">
  <div class="col">
    <h1>AdminApplications#show</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <% @application_pets.each do |application_pet| %>
      <p>current status: <%= application_pet.status %></p>
      <p>animal name: <%= Pet.find(application_pet.pet_id).name %></p>
      <% if application_pet.pending? %>
        <%= button_to 'approve this pet', "/admin/applications/#{application_pet.application_id}", method: :patch, params: { pet_id: application_pet.pet_id, status: 1 }, class: 'btn btn-success m-2' %>
        <%= button_to 'reject this pet', "/admin/applications/#{application_pet.application_id}", method: :patch, params: { pet_id: application_pet.pet_id, status: 2 }, class: 'btn btn-danger m-2' %>
      <% end %>
    <% end %>
  </div>
</div>
